.td-name {
  vertical-align: middle;
}

.td-name img {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  margin-right: 5px;
}

.td-name span {
  display: inline-block;
}

/* Setting width of each component column */
.th-name,
.td-name {
  width: 30%;
}
.th-core-count,
.td-core-count {
  width: 10%;
}
.th-core-clock,
.td-core-clock {
  width: 20%;
}
.th-socket,
.td-socket {
  width: 5%;
}
.th-power,
.td-power {
  width: 10%;
}
.th-graphics,
.td-graphics {
  width: 10%;
}
.th-retailer,
.td-retailer {
  width: 10%;
}
.th-add,
.td-add {
  width: 5%;
}

.select-retailer {
  background-color: rgb(229, 229, 229);
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 4px;
  max-width: 150px;
  box-sizing: border-box;
}
