.td-name {
  vertical-align: middle;
}

.td-name img {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  margin-right: 5px;
}

.td-name span {
  display: inline-block;
}

/* Setting width of each component column */
.th-name,
.td-name {
  width: 50%;
}
.th-memory,
.td-memory {
  width: 10%;
}
.th-length,
.td-length {
  width: 10%;
}
.th-power,
.td-power {
  width: 10%;
}
.th-retailer,
.td-retailer {
  width: 10%;
}
.th-add,
.td-add {
  width: 10%;
}

.select-retailer {
  background-color: rgb(229, 229, 229);
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 4px;
  max-width: 150px;
  box-sizing: border-box;
}
