body {
  font-family: Roboto, Arial;
  color: rgb(0, 0, 0);
  /* The <body> element has a default margin of 8px
     on all sides. This removes the default margins. */
  margin: 0;
  margin-bottom: 1000px;
  background-color: rgb(40, 40, 56);
}

/* Remove the default margins of <p> elements. */
p {
  margin: 0;
}
