.table-container {
  margin-left: 5%;
  margin-right: 6%;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

/* Header Specific */
thead {
  background-color: rgb(9, 1, 30);
  color: white;
  text-align: left;
  margin: 0px;
  height: 50px;
}

tr {
  color: white;
}

/* Header and component body styling */
th,
td {
  padding: 10px;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-color: rgb(99, 99, 99);
}

.component-name {
  color: rgb(40, 132, 190);
  font-weight: bold;
}

/* Setting width of each component column */
.th-component,
.td-component {
  width: 20%;
}
.th-selection,
.td-selection {
  width: 40%;
}
.th-price,
.td-price {
  width: 10%;
}
.th-settings,
.td-settings {
  width: 5%;
}
.th-store,
.td-store {
  width: 15%;
}
.th-buy,
.td-buy {
  width: 15%;
}
.th-remove,
.td-remove {
  width: 15%;
}

.choose-button {
  background-color: rgb(40, 132, 190);
  color: white;

  padding: 6px;

  border-radius: 4px;
}

.choose-button:hover {
  background-color: rgb(36, 123, 177);
}

.choose-button:active {
  background-color: rgb(26, 87, 125);
}

.td-product-image {
  width: 50px;
}

.td-selection img {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  margin-right: 5px;
}

.gear-icon {
  width: 20px;
  display: inline-block;
  vertical-align: middle;
}

.gear-icon:hover {
  cursor: pointer;
  background-color: rgb(216, 216, 216);
  border-width: 50px;
  border-radius: 25px;
}

.gear-icon:active {
  background-color: rgb(170, 170, 170);
}

.buy-button {
  background-color: rgb(90, 211, 90);
  font-weight: bold;
  color: white;
  border: none;
  padding: 6px 20px;
  border-radius: 4px;
}

.buy-button:hover {
  background-color: rgb(61, 177, 61);
  cursor: pointer;
}

.buy-button:active {
  background-color: rgb(16, 142, 16);
}

.remove-button {
  background-color: rgb(230, 73, 73);
  font-weight: bold;
  color: white;
  border: none;
  padding: 6px 20px;
  border-radius: 4px;
}

.remove-button:hover {
  background-color: rgb(192, 35, 35);
  cursor: pointer;
}

.remove-button:active {
  background-color: rgb(156, 21, 21);
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: rgb(22, 25, 63);
  color: white;
  padding: 20px 50px 40px 50px;
  border-radius: 8px;
  min-width: 300px;
}

.store-select {
  margin-left: 10px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: white;
  color: black;
  width: 108px;
}

.price-input {
  margin-left: 12px;
  padding: 2px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 102px;
  margin-top: 10px;
}

.save-button {
  background-color: rgb(40, 132, 190);
  color: white;
  border: none;
  padding: 6px 20px;
  border-radius: 4px;
  margin-right: 10px;
  margin-top: 10px;
}

.cancel-button {
  background-color: rgb(230, 73, 73);
  color: white;
  border: none;
  padding: 6px 20px;
  border-radius: 4px;
  margin-top: 10px;
}

.store-select:hover {
  cursor: pointer;
}

.save-button:hover,
.cancel-button:hover {
  cursor: pointer;
  opacity: 80%;
}

.save-button:active,
.cancel-button:active {
  opacity: 100%;
}
